[submodule "smart-security-android"]
	path = smart-security-android
	url = https://github.com/AdithyaSean/smart-security-android
[submodule "smart-security-camera"]
	path = smart-security-camera
	url = https://github.com/AdithyaSean/smart-security-camera
[submodule "smart-security-server"]
	path = smart-security-server
	url = https://github.com/AdithyaSean/smart-security-server
